.card {
  font-size: 10px;
  height: 250px;
  width: 250px;
  margin: 0 auto 30px;
  text-align: center;
  border: none !important;
  background: none;
  background-repeat: no-repeat;
}

/* .card:hover {
  cursor: pointer;
  transform: scale(1.3);
} */

.card .img-container > img {
  width: 100%;
  height: 100%;
}

.card .img-container:hover > img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
  background-repeat: no-repeat;
}

.img-container:hover .overlay {
  bottom: 0;
  height: 100%;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  opacity: 0.8;
  cursor: pointer;
  /* cursor:cell; */
  /* cursor:crosshair; */
  /* cursor:progress; */
}

.text {
  font-family: "Noto Serif SC", serif;
  color: white;
  font-size: 1.8em;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* white-space: nowrap; */
}
