.card {
    height: 250px;
    width: 250px;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0 auto 30px;
    border: none !important;
}

.card:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.card:active {
    transform: translate(1px, 1px);
}

.card .img-container {
    height: 100%;
    overflow: hidden;
}

.card .img-container>img {
    width: 100%;
    height: 100%;
}